<h1> <%= @item.item_name %> </h1>

<p>Item name is <%= @item.item_name %>. Item quantity is <%= @item.stock_quantity%>. Item price is <%= @item.marked_price %>. It belongs to <%= @item.user.first_name %> </p>
